body {background-color:#b0c4de;}



div.menu{

	min-height:1000px;
	background-color:rgb(100,100,255);
	width:100px;
	float:left;
	white-space: pre-line;

}

div.menu a{
	width:100%;
}

div.content{
	min-height: 1000px;
	background-color:rgb(220,220,250);
	width:100%;


}

div.content #profile{
	font-weight:bold;




	background-color:#b0c4ff;
	min-height:500px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	text-align:center;

}
div.content #profile img{
	width:100%;
	height:auto;

}

div.content div.topleft{

	position:relative;
	left:50px;
	top:25px;
	float:left;
	width:30%;
	text-align:center;

}
div.header{
	background-color:rgb(80,80,200);
	width:100%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	border-top-right-radius:10px;
	border-top-left-radius:10px;


}

div.footer{

	background-color:rgb(250,250,250);
	clear:both;
	text-align:center;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px; 


}

h1{
	margin-bottom:0;
}


a:hover{color:rgb(220,220,250);}




div.header a:link,a:visited{

	display:inline;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	width:120px;
	text-align:center;
	text-decoration:none;
	border-radius:5px;

}
div.header a:hover{
	color:rgb(100,100,250);
}
a:hover,a:active

{
background-color:rgb(240,220,250);
}


table{
	position:relative;
	left:30px;
	top:30px;
	border-collapse:collapse;
	border-radius:15px;

}

